/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: Courier, serif;
    text-align: center;
    font-size: 38px;
    line-height: 1.2;
    background-color: #F6F6F2;
}

/* structure */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
  margin-bottom: 3em;
  max-width: 100%;
  width: 100%;
}

/* typography */

h1 {
  font-size: 11vw;
  font-weight: normal;
  margin-top: 100px;
}

h2 {
  font-family: Courier;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: .5em;
}

h3 {
  font-family: Courier;
  font-size: .75em;
  letter-spacing: .7px;
  margin-bottom: .5em;
  text-align: left;
}

ol {
  list-style-position: outside;
  text-align: left;
  line-height: 2;
  font-family: Courier;
  font-size: 22px;
}

.content a {
  text-decoration: none;
  transition: all .03s ease;
  color: black;
  border-bottom: 1px solid  rgb(255, 0, 200);
}

.content a:hover {
  color:  rgb(255, 0, 200);
  border-bottom: 1px dotted  rgb(255, 0, 200);
}

.examples {
  font-size: 100px;
  padding: 50px 0;
  background-color: rgb(0, 213, 255);
  margin-top: 50px;
}

/* 1. Google Fonts */
.ericaone {
  font-family: 'Erica One', serif;
}

.red {
  background-color: rgb(255, 0, 200);
}

/* 2. Custom font — Pruchased*/

@font-face {
    font-family: 'HalstedTest-BenDay';
    src: url('../HalstedTest-BenDay.eot');
    src: url('../fonts/HalstedTest-BenDay.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HalstedTest-BenDay.woff') format('woff'),
         url('../fonts/HalstedTest-BenDay.woff2') format('woff2'),
         url('../fonts/HalstedTest-BenDay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.halsted {
  font-family: "HalstedTest-BenDay", serif;
}

@font-face {
    font-family: 'CadetTest-Thin';
    src: url('../fonts/CadetTest-Thin.woff2') format('woff2'),
         url('../fonts/CadetTest-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

/* 3. Custom font — Convert Files*/
.cadetthin {
  font-family: 'CadetTest-Thin';
}

pre > code {
    white-space: pre;
    margin-top: -1.00em;
    display: block;
    text-align: left;
}
.highlight {
  border-radius: 4px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1.2rem;
  padding: 1rem 0 0 1rem;
  font-size: .9rem;
  line-height: 1.2;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #EFEFEF;
}

/* Layouts */

.black {
  background-color: black;
  color: white;
}


.description {
    padding: 0 50px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
  .examples {
    background-color: rgb(132, 0, 255);
    font-size: 50px;
  }
}