@font-face{
    font-family:"zonk-reg";
    src:url("fonts/ZonkTest-Regular.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:"zonk-italic";
    src:url("fonts/ZonkTest-Italic.otf") format("opentype");
    font-weight:normal;
    font-style:italic;
}

body{
    position:relative;
    font-family:'Poppins', sans-serif;
    font-size:1rem;
    font-weight:400;
    text-align:left;
    line-height:1.25;
    word-break:keep-all;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🥄</text></svg>") 16 0, auto;
    width:100%;
    height:100%;
    color:#fc59dd;
    background-color:#f9f4f7;
}

.topnav{
    display:flex;
    justify-content:flex-end;
    text-align:right;
    position:fixed;
    align-items:right;
    width:100%;
    height:max-content;
    margin-top:-2em;
    order:1;
}
  
.topnav a{
    color:#fc59dd;
    padding:1em;
    text-decoration:none;
    font-size:2rem;
}
  
.topnav a:hover{
    color:#ddfc59;
    text-decoration:underline;
}

h1{
    font-family:"zonk-reg";
    font-size:6rem;
}

h2{
    font-size:3rem;
}


h3{
    font-size:2rem;
}

h4{
    font-size:1rem;
    font-weight:400;
}

ul,
li{
    font-family:'Poppins', sans-serif;
    font-size:1.5rem;
    list-style-type:none;
    margin:0;
    padding:0;
}

li{
    padding-bottom:2.5em;
}

p{
    font-family:'Poppins', sans-serif;
    font-size:2rem;
    margin:0.25em;
}

hr{
    height:3em;
    border:none;
}

.recipe-grid{
    display:flex;
    flex-flow:row wrap;
    width:100%;
}

.recipe-grid a{
    color:#fc59dd;
    text-decoration:none;
}

.recipe-grid a:hover{
    color:#ddfc59;
    text-decoration:underline;
}

.recipe-grid-img{
    flex:1;
    width:95%;
    height:76%;
    object-fit:cover;
}

.wrapper{
    display:flex;
    /* flex:2; */
    flex-flow:row wrap;
    /* order:1; */
    width:100%;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:0;
    margin-right:0;
    padding:0;
}

.recipe-img{
    /* flex:1; */
    display:flex;
    order:1;
    height:max-content;
    justify-content: center;
    align-items: center;
    /* width:100%; */
}

/* .fixed{
    display: flex;
    order: 2;
    height: 100px;
    border: 10px solid limegreen;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 2em;
    color: blue;
} */

img{
    width:95%;
    border:0;
    padding:0;
}

.recipe-matcha{
    /* flex:1;
    width:100%; */
    display:flex;
    order:2;
    text-align:left;
    color:#186318;
}

/* .main{
    display: flex;
    order: 3;
    font-family: sans-serif;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
} */

.recipe-bananabread{
    flex:1;
    width:100%;
    color:#ffd902;
}

.recipe-dinowaffles{
    flex:1;
    width:100%;
    color:#006f74;
}

.recipe-dinowaffles a{
    text-decoration:none;
    color:inherit;
}

::-moz-selection{
    background:#5790fa80;
  }
  
::selection{
    background:#5790fa80;
}

a:hover{
    color:#ddfc59;
    text-decoration:underline;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='90' height='108' style='fill:black;font-size:54px;'><text y='50%'>🥄</text></svg>") 16 0, auto;
}
  
a:active{
    color:#ddfc59;
}

a:visited{
    color:#fc59dd;
}

@media all and (max-width: 800px){
    .recipe{
        flex:2;
        order:1;
        flex-direction:column;
    }
    .recipe-grid{
        flex-direction:column;
        align-content:center;
    }
}